html {
   height: 100%;
}
body {
	background-color: rgb(30%, 30%, 30%);
   margin: 0;
   padding: 0;
   color: black;
   height: 100%;`
}

#wrap {
   width: 95%;
   height: 100%;
   margin: 0 auto;
   padding: .75em;
   background: rgb(10%, 45%, 99%);
   position: relative;  
}

#header {
   background: #ddd;
   position: relative;
}

#site-nav { /*this will be the banner*/
   background: #c99;
   position: relative;
}

#page-nav { /*this will be the sidebar*/
   background: #9c9;
   width: 12%;
   float: left;
   text-align: center;
   position: relative;
}

#main {
   background: #c9c;
   width: 85%;
   float: right;
   position: relative;
}



h1, h2, h3, h4, h5 {
	color: black;
}
div {
   /*display: inline-block;*/
   /*position: relative;*/
    /*margin: 0px;*/
	/*border-width: 3px;
	border-color: brown;
	border-style: solid;*/
	/*padding: 0px;*/
    /*float: right;*/
}

.side-bar {
   position: ;
   background: rgba(0, 0, 0, .85);
   color: rgb(10%, 45%, 99%);
   padding: .3em;
   height: 500px;
   width: 180px;
}
.level2 {
   background: rgb(10%, 45%, 99%);
   margin: 6px 6px 6px 6px;
   padding: .75em;
   box-shadow: .2em .2em .2em .2em rgba(0, 0, 0, .4);
}
.image {
   /*padding: .75em;*/
   margin: .5em;
   position: relative;
}
